.bikes {
  padding: 60px 120px 104px 120px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__heading {
    margin: 0;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -0.5px;
    color: #151515;
  }

  &__select {
    display: none;
  }

  &__tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 30px 0 0 0;
    gap: 40px;
  }

  &__tab {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: right;
    color: #222222;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.1s linear;

    &:hover {
      opacity: 0.6;
    }
  }

  &__tab_selected {
    font-weight: 600;
    color: #151515;
    opacity: 1;

    &:hover {
      opacity: 0.75;
    }
  }

  &__groups {
    padding-top: 120px;
  }

  &__group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }

  &__model {
    position: relative;
    padding: 20px 20px 20px 20px;
    background: #F4F4F4;
    border-radius: 20px;
    filter: drop-shadow(0px 20px 140px rgba(0, 0, 0, 0.06));
    transition: filter 0.1s linear;

    &:hover {
      filter: drop-shadow(0px 20px 140px rgba(0, 0, 0, 0.11));
    }
  }

  &__model-name {
    position: absolute;
    top: calc(100% + 17px);
    left: 5px;
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #151515;
  }

  &__model-image {
    max-width: 340px;
    width: 100%;
  }

  &__select {
    border: 1px solid #E3E3E3;
    outline: none;
    box-shadow: none;
    appearance: none;
    color: #151515;
    font-size: 11px;
    font-weight: 600;
    line-height: 14px;
    padding: 8px 12px;
    background-image: url(../images/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) center;
  }

  @media (width < 1024px) {
    padding: 35px 18px 104px 18px;
    overflow: hidden;
    background-image: linear-gradient(#e3e3e3,#e3e3e3);
    background-position: 18px 100%;
    background-repeat: no-repeat;
    background-size: calc(100% - 36px) 1px;

    &__header {
      flex-direction: column;
    }

    &__tabs {
      display: none;
    }

    &__heading {
      font-size: 32px;
      line-height: 50px;
    }

    &__select {
      display: block;
      margin-top: 34px;
      max-width: 114px;
    }

    &__groups {
      padding-top: 20px;
    }

    &__group {
      gap: 18px;
      width: calc(300% + 36px);
    }

    &__model {
      width: 100%;
      padding: 15px 15px 33px 15px;
    }

    &__model-image {
      max-width: none;
    }

    &__model-name {
      font-size: 14px;
      line-height: 18px;
      top: auto;
      left: 0;
      bottom: 16px;
      text-align: center;
      width: 100%;
    }

  }

}
