.wisdom .left-side {

  &__image {
    max-height: 460px;
    padding-left: 120px;
  }

  @media (width < 1024px) {
    &__image {
      max-height: none;
      padding-left: 0;
      width: 100%;
    }
  }

}

.footer .left-side {

  &__heading {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #151515;
    max-width: 229px;
  }

  &__form {
    padding-top: 48px;
  }

  &__copyright {
    margin: 0;
    padding-top: 100px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #CFCFCF;
  }

}
