.welcome .left-side {
  margin-left: 120px;
  margin-right: 50px;
  min-width: 460px;
  max-width: 460px;
  background-image: linear-gradient(#D7D4D4,#D7D4D4);
  background-position: 0 calc(100% - 216px);
  background-repeat: no-repeat;
  background-size: 356px 2px;

  &__heading {
    margin: 0;
    padding-top: 62px;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -0.5px;
    color: #151515;
  }

  &__description {
    margin: 0;
    padding-top: 45px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #222222;
    opacity: 0.7;
    max-width: 460px;
  }

  &__button {
    margin-top: 52px;
    max-width: 180px;
  }

  &__model {
    margin: 0;
    margin-top: 167px;
    padding-right: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #151515;
    max-width: fit-content;
    background-color: #F4F4F4;
  }

}

.wisdom .left-side {

  &__image {
    max-height: 460px;
  }

}

.apps .left-side {

  &__header {
    padding-top: 3px;
  }

  &__heading {
    margin: 0;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -0.5px;
    color: #151515;
  }

  &__description {
    margin: 0;
    max-width: 460px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #222222;
    opacity: 0.7;
    padding-top: 45px;
  }

  &__links {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0 0 7px 0;
  }

  &__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #151515;
  }

}
