.wisdom {
  display: flex;
  gap: 80px;
  padding: 120px 60px 60px 0;

  &__left-side {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  @media (width < 1024px) {
    flex-direction: column;
    padding: 20px 0 76px 0;
    border-bottom: 1px solid #E3E3E3;
    gap: 42px;
  }

}
