.wisdom {
  display: flex;
  gap: 80px;
  padding: 120px 60px 60px 0;

  &__left-side {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  @media (width < 1024px) {
    flex-direction: column;
    padding: 20px 18px 77px 18px;
    background-image: linear-gradient(#e3e3e3,#e3e3e3);
    background-position: 18px 100%;
    background-repeat: no-repeat;
    background-size: calc(100% - 36px) 1px;
    gap: 42px;
  }

}
