.wisdom {
  display: flex;
  gap: 80px;
  padding: 120px 60px 60px 0;

  &__left-side {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  &__image {
    max-height: 460px;
    padding-left: 120px;
  }

  &__right-side {
    min-width: 470px;
    max-width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__quote {
    margin: 0;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: -0.5px;
    color: var(--color-text-primary);
  }

  &__author-name {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: var(--color-text-primary);
    padding-bottom: 5px;
  }

  &__author-subline {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--color-text-secondary);
    opacity: 0.7;
    padding-bottom: 5px;
  }

  @media (width < 1024px) {
    flex-direction: column;
    padding: 20px 18px 77px 18px;
    background-image: linear-gradient(#e3e3e3,#e3e3e3);
    background-position: 18px 100%;
    background-repeat: no-repeat;
    background-size: calc(100% - 36px) 1px;
    gap: 40px;

    &__image {
      max-height: none;
      padding-left: 0;
      padding-top: 2px;
      width: 100%;
    }

    &__right-side {
      min-width: auto;
      max-width: none;
      gap: 38px;
    }

    &__quote {
      font-size: 23px;
      line-height: 29px;
    }

    &__author-name {
      font-size: 14px;
      line-height: 22px;
    }

    &__author-subline {
      font-size: 10px;
      line-height: 16px;
    }
  }

}
