@use "../../scss/mixins";

.coverings {
  padding: 70px 0 50px 120px;

  &__heading {
    grid-area: heading;

    @include mixins.heading;
  }

  &__description {
    grid-area: description;

    @include mixins.description(0, 45px 0 0 0);
  }

  &__slider {
    margin-top: 85px;
    position: relative;
    grid-area: slider;
  }

  &__label {
    position: absolute;
    bottom: 16px;
    z-index: 2;
  }

  &__slides-container {
    display: flex;
    flex-direction: row;
    grid-area: control;
  }

  &__slide {
    max-width: 650px;
  }

  &__slides-control {
    padding-top: 50px;
  }

  @media (width < 1024px) {
    padding: 40px 18px 82px 18px;
    background-image: linear-gradient(#e3e3e3,#e3e3e3);
    background-position: 18px 100%;
    background-repeat: no-repeat;
    background-size: calc(100% - 36px) 1px;
    display: grid;
    grid-template: "heading control"
                   "slider slider"
                   "description description";
    grid-template-columns: 200px auto;

    &__heading {
      font-size: 32px;
      line-height: 40px;
    }

    &__description {
      font-size: 12px;
      line-height: 18px;
      padding-top: 38px;
    }

    &__slider {
      margin-top: 40px;
    }

    &__slide {
      max-width: 100%;
    }

    &__label {
      max-width: 70px;
      bottom: 14px;
    }

    &__slides-control {
      padding-top: 0;
    }

  }

}
