.theme-switcher {
  display: flex;
  flex-direction: row;
  gap: 22px;
  align-items: center;

  &__image {
    &_type {
      &_light {
        background-color: var(--color-switcher-secondary);
        mask-image: url(../images/sun.svg);
        width: 28px;
        height: 28px;
      }

      &_dark {
        background-color: var(--color-switcher-secondary);
        mask-image: url(../images/moon.svg);
        width: 20px;
        height: 20px;
      }
    }
  }

}

.header__theme-switcher.theme-switcher {
  display: none;

  @media (width < 1024px) {
    display: flex;
  }

}

.footer__theme-switcher.theme-switcher {
  display: flex;

  @media (width < 1024px) {
    display: none;
  }

}
