.theme-switcher {
  display: flex;
  flex-direction: row;
  gap: 22px;
  align-items: center;
}

.header__theme-switcher.theme-switcher {
  display: none;

  @media (width < 1024px) {
    display: flex;
  }

}

.footer__theme-switcher.theme-switcher {
  display: flex;

  @media (width < 1024px) {
    display: none;
  }

}
