.switcher {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;

  &__checkbox {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-switcher-primary);
    border-radius: 9999px;
    transition: .2s;
  }

  &__slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: #24B47E;
    border-radius: 50%;
    transition: .2s;
  }

  &__checkbox:checked + &__slider:before {
    transform: translateX(20px);
  }

}
