.control-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  &__default {
    padding: 0;
    width: 50px;
    height: 50px;
    background-color: rgba(235, 235, 235);
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.1s linear;

    &:hover {
      background-color: rgba(235, 235, 235, 0.6);
    }
  }

  &__prev::before {
    content: '';
    background-image: url(../images/arrow-left.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  &__prev:hover::before {
    opacity: 0.75;
  }

  &__next::before {
    content: '';
    background-image: url(../images/arrow-right.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  &__next:hover::before {
    opacity: 0.75;
  }

  @media (width < 1024px) {
    justify-content: flex-end;
    gap: 10px;

    &__default {
      width: 24px;
      height: 24px;
    }

  }

}
