.apps {
  padding: 147px 0 120px 120px;
  display: grid;
  grid-template: "heading photo"
                 "description photo"
                 "links photo";
  grid-template-rows: 60px auto 32px;
  column-gap: 160px;

  &__heading {
    margin: 0;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -0.5px;
    color: var(--color-text-primary);
    grid-area: heading;
  }

  &__description {
    margin: 0;
    max-width: 460px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--color-text-secondary);
    opacity: 0.7;
    padding-top: 45px;
    grid-area: description;
  }

  &__links {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-area: links;
  }

  &__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: var(--color-text-primary);
    opacity: 1;
    transition: opacity 0.1s linear;

    &:hover {
      opacity: var(--opacity-apps-link-hover);
    }

  }

  &__right-side {
    overflow: hidden;
    display: flex;
    justify-content: center;
    grid-area: photo
  }

  &__image {
    max-height: 460px;
    padding-right: 120px;
  }

  @media (width < 1024px) {
    padding: 40px 18px 60px 18px;
    grid-template: "heading"
                   "photo"
                   "description"
                   "links";

    &__heading {
      font-size: 32px;
      line-height: 40px;
    }

    &__description {
      font-size: 12px;
      line-height: 18px;
      max-width: none;
      padding-top: 40px;
    }

    &__links {
      padding-top: 40px;
    }

    &__link {
      font-size: 14px;
      line-height: 20px;
    }

    &__right-side {
      padding-top: 40px;
    }

    &__image {
      max-height: none;
      padding-right: 0;
      width: 100%;
    }

  }

}
