.header {
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 28px 120px;
  background: #F4F4F4;

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 34px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: #151515;
    opacity: 1;
    transition: opacity 0.1s linear;

    &:hover {
      opacity: 0.75;
    }

  }

  @media (width < 1024px) {
    padding: 0;
    display: flex;
    flex-direction: column;

    &__nav {
      display: flex;
      position: absolute;
      width: 100%;
      height: calc(100vh - 74px - 70px - 36px);
      background-color: #F4F4F4;
      gap: 64px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-top: 74px;
      padding-top: 70px;
      padding-bottom: 36px;
      overflow: auto;
      opacity: 0;
      visibility: hidden;
      transition: opacity .3s,visibility .3s linear;

      &_opened {
        opacity: 1;
        visibility: visible;
      }

    }

    &__links {
      display: flex;
      flex-direction: column;
      gap: 32px;
      align-items: center;
    }

    &__link {
      font-size: 18px;
    }

  }

}
