.form {

  &__fieldset {
    padding: 0;
    border: 0;
    margin: 0;
  }

  &__input {
    padding: 11px 0 11px 20px;
    border-top: 1px solid rgba(199, 199, 199, 0.5);
    border-right: none;
    border-bottom: 1px solid rgba(199, 199, 199, 0.5);
    border-left: 1px solid rgba(199, 199, 199, 0.5);
    border-radius: 4px 0 0 4px;
    background-color: var(--color-background-secondary);
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
    color: var(--color-text-primary);
    min-width: 260px;

    &:focus {
      outline: none;
      box-shadow: none;

      &::placeholder {
        opacity: 0;
      }

      &:hover::placeholder {
        opacity: 0;
      }

    }

    &::placeholder {
      color: var(--color-text-secondary);
      opacity: 0.7;
    }

    &:hover::placeholder {
      color: var(--color-text-primary);
      opacity: 1;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      transition: background-color 5000s ease-in-out 0s;
    }

  }

  &__btn {
    padding: 11px 22px;
    border-top: 1px solid rgba(199, 199, 199, 0.5);
    border-left: none;
    border-bottom: 1px solid rgba(199, 199, 199, 0.5);
    border-right: 1px solid rgba(199, 199, 199, 0.5);
    border-radius: 0 4px 4px 0;
    background-color: var(--color-background-secondary);
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
    color: var(--color-text-primary);
  }

  @media (width < 1024px) {
    &__input {
      min-width: auto;
      width: calc(100% - 83px);
    }
  }

}
